<div class="col-md-12">
  <div class="md-form">
    <input type="search" [(ngModel)]="filterValue" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
    <label for="search">Search Users</label>
  </div>
</div>

<table class="table table-hover table-striped table-bordered table-responsive-md table-sm">
  <thead>
  <tr>
    <th class="th-sm">User ID
      <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortBy('user_id')"></i>
    </th>
    <th class="th-sm">Username
      <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortBy('username')"></i>
    </th>
    <th class="th-sm">First Name
      <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortBy('first_name')"></i>
    </th>
    <th class="th-sm">Last Name
      <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortBy('last_name')"></i>
    </th>
    <th class="th-sm">Email
      <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortBy('email')"></i>
    </th>
    <th class="th-sm">Last Login
      <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortBy('last_login')"></i>
    </th>
    <th class="th-sm">Password Expiration Date
      <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortBy('password_expiration_date')"></i>
    </th>
    <th class="th-sm">User Type
      <i class="fa fa-sort float-right" aria-hidden="true" (click)="sortBy('user_type')"></i>
    </th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>User ID</th>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Last Login</th>
    <th>Password Expiration Date</th>
    <th>User Type</th>
  </tr>
  </tfoot>
  <tbody>
  <tr class="" *ngFor="let user of filterBy()" (click)="editUser(user)">
    <td>{{user.user_id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.last_login}}</td>
    <td>{{user.password_expiration_date}}</td>
    <td>{{user.user_type}}</td>
  </tr>
  </tbody>
</table>
