<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg scrolling-navbar navbar-dark elegant-color" [containerInside]="true"
            *ngIf="loggedIn">
  <!-- Navbar brand -->
  <mdb-navbar-brand class="logo view overlay">
    <a class="navbar-brand pull-left" (click)="select('home')"><img class="logo-image" src="./assets/nav-logo.svg"
                                                                    alt="logo"/></a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto pull-right">
      <ng-container *ngFor="let page of availablePages">

        <!-- If it's just a link -->
        <ng-container *ngIf="PAGE_DICTIONARY[page]">
          <li class="'nav-item'"  mdbWavesEffect [routerLink]="['./' + page]" routerLinkActive="active">
            <a class='nav-link waves-light' (click)="select(page)" mdbWavesEffect [routerLink]="['./' + page]" routerLinkActive="active">{{PAGE_DICTIONARY[page]}}
              <div [class]="active == PAGE_DICTIONARY[page] ? 'active' : ''"><span class="sr-only">(current)</span>
              </div>
            </a>
          </li>
        </ng-container>

        <!-- If it's a dropdown -->
        <ng-container *ngIf="isArray(page)">
          <li class='nav-item dropdown' dropdown>
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              {{PAGE_DICTIONARY[page.indexOf(active) !== -1 ? active : page[0]]}}<span
              class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect *ngFor="let subPage of getNavigablePages(page)"
                 (click)="select(subPage)">{{PAGE_DICTIONARY[subPage]}}</a>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ul>

    <ul class="navbar-nav pull-xs-right nav-flex-icons">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
          <img class="user_icon" src="./assets/user_icon_white.png" alt="user_icon">&nbsp;&nbsp;&nbsp;{{username}}<span
          class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="/">Update Account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="/">Preferences</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Logout</a>
        </div>
      </li>
      <!--<li><button mdbBtn class="waves-light lg-btn btn-danger" mdbWavesEffect (click)="logout()">Logout</button></li>-->
    </ul>
  </links>

</mdb-navbar>
<!--/.Navbar-->
