<img *ngIf="accounts.length === 0; else showTable" class="centered" src="./assets/table_loading.svg">
<ng-template #showTable>
  <div class="top">
    <h1>Chart of Accounts
      <button class="float-right" mdbBtn type="button" color="indigo" (click)="showAddAccount()" mdbWavesEffect
              *ngIf="authService.getUserType() == 'admin' || authService.getUserType() == 'manager'">
        <mdb-icon icon="plus-square-o" class="mr-1"></mdb-icon>
        Create Account
      </button>
    </h1>
  </div>
  <!-- TODO Change to a mat-table -->
  <table class="table table-hover table-striped table-bordered table-responsive-md">
    <thead>
    <tr>
      <th class="th-sm clickable" (click)="sortBy('account_id')">Account No.
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('account_title')">Account
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('balance')">Balance
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <!--<th class="th-sm clickable" (click)="sortBy('normal_side')">Normal Side-->
      <!--<i class="fa fa-sort float-right clickable" aria-hidden="true"></i>-->
      <!--</th>-->
      <th class="th-sm clickable" (click)="sortBy('description')">Description
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <!--<th class="th-sm clickable" (click)="sortBy('date_created')">Date Created-->
      <!--<i class="fa fa-sort float-right clickable" aria-hidden="true"></i>-->
      <!--</th>-->
      <!--<th class="th-sm clickable" (click)="sortBy('created_by')">Created By (User ID)-->
      <!--<i class="fa fa-sort float-right clickable" aria-hidden="true"></i>-->
      <!--</th>-->
      <!--<th class="th-sm clickable" (click)="sortBy('last_edited_date')">Last Edited-->
      <!--<i class="fa fa-sort float-right clickable" aria-hidden="true"></i>-->
      <!--</th>-->
      <!--<th class="th-sm clickable" (click)="sortBy('user_id')">Last Edited By-->
      <!--<i class="fa fa-sort float-right clickable" aria-hidden="true"></i>-->
      <!--</th>-->
      <th class="th-sm clickable" (click)="sortBy('user_id')">Is Active
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
    </tr>
    <tr>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="accountIdFilter" id="accountIdSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="accountIdSearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="accountTitleFilter" id="accountTitleSearch" class="form-control"
                 mdbInputDirective
                 [mdbValidate]="false">
          <label for="accountTitleSearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="balanceFilter" id="balanceSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="balanceSearch">Search</label>
        </div>
      </th>
      <!--<th>-->
      <!--<div class="md-form">-->
      <!--<input type="search" [(ngModel)]="normalSideFilter" id="normalSideSearch" class="form-control" mdbInputDirective-->
      <!--[mdbValidate]="false">-->
      <!--<label for="normalSideSearch">Search</label>-->
      <!--</div>-->
      <!--</th>-->
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="descriptionFilter" id="descriptionSearch" class="form-control"
                 mdbInputDirective
                 [mdbValidate]="false">
          <label for="descriptionSearch">Search</label>
        </div>
      </th>
      <!--<th>-->
      <!--<div class="md-form">-->
      <!--<input type="search" [(ngModel)]="dateCreatedFilter" id="dateCreatedSearch" class="form-control" mdbInputDirective-->
      <!--[mdbValidate]="false">-->
      <!--<label for="dateCreatedSearch">Search</label>-->
      <!--</div>-->
      <!--</th>-->
      <!--<th>-->
      <!--<div class="md-form">-->
      <!--<input type="search" [(ngModel)]="createdByFilter" id="createdBySearch" class="form-control"-->
      <!--mdbInputDirective-->
      <!--[mdbValidate]="false">-->
      <!--<label for="createdBySearch">Search</label>-->
      <!--</div>-->
      <!--</th>-->
      <!--<th>-->
      <!--<div class="md-form">-->
      <!--<input type="search" [(ngModel)]="lastEditedFilter" id="lastEditedSearch" class="form-control" mdbInputDirective-->
      <!--[mdbValidate]="false">-->
      <!--<label for="lastEditedSearch">Search</label>-->
      <!--</div>-->
      <!--</th>-->
      <!--<th>-->
      <!--<div class="md-form">-->
      <!--<input type="search" [(ngModel)]="lastEditedByFilter" id="lastEditedBySearch" class="form-control" mdbInputDirective-->
      <!--[mdbValidate]="false">-->
      <!--<label for="lastEditedBySearch">Search</label>-->
      <!--</div>-->
      <!--</th>-->
      <th> <!-- TODO Turn this into a dropdown? -->
        <div class="md-form">
          <input type="search" [(ngModel)]="isActiveFilter" id="isActiveSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="isActiveSearch">Search</label>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickable" *ngFor="let account of filterBy()" (click)="editAccount(account)">
      <td align="left">{{account.account_id}}</td>
      <td align="left">{{account.account_title}}</td>
      <td align="left">{{(account.normal_side == 'debit' ? account.balance : account.balance * -1) | currency}}</td>
      <!--<td>{{account.normal_side}}</td>-->
      <td align="left">{{account.description}}</td>
      <!--<td>{{account.date_created}}</td>-->
      <!--<td>{{(account.created_by | number:'6.0-0').toString().replace(',', '')}}</td>-->
      <!--<td>{{account.last_edited_date}}</td>-->
      <!--<td>{{account.last_edited_by}}</td>-->
      <td>{{account.is_active}}</td>
    </tr>
    </tbody>
  </table>
</ng-template>

<div mdbModal #addAccountModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Edit User" aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="addAccountModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="editUserModal">Create New Account</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addAccountForm" class="text-center border border-light p-5 lg-form"
              (ngSubmit)="submitAccount()">
          <!-- Account ID -->
          <div class="form-group">
            <label for="addAccountID">Account ID</label>
            <input type="text" formControlName="account_id" id="addAccountID" class="form-control"
                   placeholder="Account ID">
          </div>
          <div *ngIf="addAccountError" class="alert alert-danger">{{addAccountError}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    (click)="clearError()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Account Title -->
          <div class="form-group">
            <label for="addAccountTitle">Account Title</label>
            <input type="text" formControlName="account_title" id="addAccountTitle" class="form-control"
                   placeholder="Account Title">
          </div>
          <div *ngIf="addAccountError" class="alert alert-danger">{{addAccountError}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    (click)="clearError()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Account Category -->
          <div class="form-group">
            <label for="addAccountCategory">Account Category</label>
            <select class="form-control" formControlName="category" id="addAccountCategory" (change)="updateCategory()">
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
          </div>
          <div *ngIf="addAccountError" class="alert alert-danger">{{addAccountError}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    (click)="clearError()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Account Subcategory -->
          <div class="form-group">
            <label for="addAccountSubcategory">Account Subcategory</label>
            <select class="form-control" formControlName="subcategory" id="addAccountSubcategory">
              <option *ngFor="let subcategory of availableSubcategories" [value]="subcategory">{{subcategory}}</option>
            </select>
          </div>
          <div *ngIf="addAccountError" class="alert alert-danger">{{addAccountError}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    (click)="clearError()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Normal Side -->
          <div class="form-group">
            <label for="addAccountNormalSide">Normal Side</label>
            <select class="form-control" formControlName="normal_side" id="addAccountNormalSide">
              <option *ngFor="let side of normalSides" [value]="side">{{side}}</option>
            </select>
          </div>
          <div *ngIf="addAccountError" class="alert alert-danger">{{addAccountError}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    (click)="clearError()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Description -->
          <div class="form-group">
            <label for="addAccountDescription">Description</label>
            <input type="text" formControlName="description" id="addAccountDescription" class="form-control"
                   placeholder="Description">
          </div>
          <div *ngIf="addAccountError" class="alert alert-danger">{{addAccountError}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    (click)="clearError()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="addAccountError" class="alert alert-danger">{{addAccountError}}</div>
        </form>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                  (click)="addAccountModal.hide()" mdbWavesEffect>Close
          </button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                  (click)="submitAccount()">Create Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
