<div class="col-md-12">
  <div class="md-form">
    <input type="search" [(ngModel)]="filterValue" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
    <label for="search">Search Accounts</label>
  </div>
</div>

<table class="table table-hover table-striped table-bordered table-responsive-md">
  <thead>
  <tr>
    <th class="th-sm clickable" (click)="sortBy('account_id')">Account ID
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th class="th-sm clickable" (click)="sortBy('account_title')">Account Title
      <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
    </th>
    <th class="th-sm clickable" (click)="sortBy('balance')">Balance
      <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
    </th>
    <th class="th-sm clickable" (click)="sortBy('normal_side')">Normal Side
      <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
    </th>
    <th class="th-sm clickable" (click)="sortBy('description')">Description
      <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
    </th>
    <th class="th-sm clickable" (click)="sortBy('date_created')">Date Created
      <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
    </th>
    <th class="th-sm clickable" (click)="sortBy('created_by')">Created By (User ID)
      <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
    </th>
    <th class="th-sm clickable" (click)="sortBy('last_edited_date')">Last Edited
      <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
    </th>
    <th class="th-sm clickable" (click)="sortBy('user_id')">Last Edited By
      <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
    </th>
    <th class="th-sm clickable" (click)="sortBy('user_id')">Is Active
      <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
    </th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Account ID</th>
    <th>Account Title</th>
    <th>Balance</th>
    <th>Normal Side</th>
    <th>Description</th>
    <th>Date Created</th>
    <th>Created By (User ID)</th>
    <th>Last Edited</th>
    <th>Last Edited By</th>
    <th>Is Active</th>
  </tr>
  </tfoot>
  <tbody>
  <tr class="clickable" *ngFor="let account of accounts" (click)="editAccount(account)">
    <td>{{account.account_id}}</td>
    <td>{{account.account_title}}</td>
    <td>${{account.balance.toFixed(2)}}</td>
    <td>{{account.normal_side}}</td>
    <td>{{account.description}}</td>
    <td>{{account.date_created}}</td>
    <td>{{account.created_by}}</td>
    <td>{{account.last_edited_date}}</td>
    <td>{{account.last_edited_by}}</td>
    <td>{{account.is_active}}</td>
  </tr>
  </tbody>
</table>
