<img *ngIf="accounts.length === 0; else showTable" class="centered" src="./assets/table_loading.svg">
<ng-template #showTable>
  <h1>Chart of Accounts</h1>
  <!-- TODO Change to a mat-table -->
  <table class="table table-hover table-striped table-bordered table-responsive-md">
    <thead>
    <tr>
      <th class="th-sm clickable" (click)="sortBy('account_id')">Account ID
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('account_title')">Account Title
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('balance')">Balance
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('normal_side')">Normal Side
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('description')">Description
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('date_created')">Date Created
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('created_by')">Created By (User ID)
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('last_edited_date')">Last Edited
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('user_id')">Last Edited By
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
      <th class="th-sm clickable" (click)="sortBy('user_id')">Is Active
        <i class="fa fa-sort float-right clickable" aria-hidden="true"></i>
      </th>
    </tr>
    <tr>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="accountIdFilter" id="accountIdSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="accountIdSearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="accountTitleFilter" id="accountTitleSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="accountTitleSearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="balanceFilter" id="balanceSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="balanceSearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="normalSideFilter" id="normalSideSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="normalSideSearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="descriptionFilter" id="descriptionSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="descriptionSearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="dateCreatedFilter" id="dateCreatedSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="dateCreatedSearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="createdByFilter" id="createdBySearch" class="form-control"
                 mdbInputDirective
                 [mdbValidate]="false">
          <label for="createdBySearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="lastEditedFilter" id="lastEditedSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="lastEditedSearch">Search</label>
        </div>
      </th>
      <th>
        <div class="md-form">
          <input type="search" [(ngModel)]="lastEditedByFilter" id="lastEditedBySearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="lastEditedBySearch">Search</label>
        </div>
      </th>
      <th> <!-- TODO Turn this into a dropdown? -->
        <div class="md-form">
          <input type="search" [(ngModel)]="isActiveFilter" id="isActiveSearch" class="form-control" mdbInputDirective
                 [mdbValidate]="false">
          <label for="isActiveSearch">Search</label>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickable" *ngFor="let account of filterBy()" (click)="editAccount(account)">
      <td>{{account.account_id}}</td>
      <td>{{account.account_title}}</td>
      <td>${{account.balance.toFixed(2)}}</td>
      <td>{{account.normal_side}}</td>
      <td>{{account.description}}</td>
      <td>{{account.date_created}}</td>
      <td>{{account.created_by}}</td>
      <td>{{account.last_edited_date}}</td>
      <td>{{account.last_edited_by}}</td>
      <td>{{account.is_active}}</td>
    </tr>
    </tbody>
  </table>

  <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>
    + Add Account +
  </button>
</ng-template>
