.clickable:hover {
  cursor: pointer;
}

.table-striped > tbody > tr:nth-child(even).warning-message > td,
.table-striped > tbody > tr:nth-child(even).warning-message-edit > th {
  background-color: darkorange; // Choose your own color here
  color: white;
}

.table-striped > tbody > tr:nth-child(odd).warning-message > td,
.table-striped > tbody > tr:nth-child(odd).warning-message > th {
  background-color: darkorange; // Choose your own color here
  color: white;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
