<table class="table table-hover table-striped table-bordered table-responsive-md">
  <thead>
  <tr>
    <th colspan="3">
      <h4><strong>PostIt Inc.</strong></h4>
      <h4><strong>Statement of Retained Earnings</strong></h4>
      <h4><strong>For the Year Ended December 31, {{getDate() | date: 'y'}}</strong></h4></th>
  </tr>
  <tr>
    <!--<th class="th-sm">Account Title</th>-->
    <!--<th class="th-sm">Debit</th>-->
  </tr>
  </thead>
  <tbody>
  <tr>
    <td align="left">Retained earnings at January 1, {{getDate() | date: 'y'}}</td>
    <td>{{oldRetainedEarnings()}}</td>
  </tr>
  <tr>
    <td align="left">Add: net income earned in {{getDate() | date: 'y'}}</td>
    <td>{{netIncome() | currency}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td align="left">Subtotal</td>
    <td>{{oldRetainedEarnings() + netIncome() | currency}}</td>
  </tr>
  <tr>
    <td align="left">Less: dividends declared in {{getDate() | date: 'y'}}</td>
    <td>{{netDividends() | currency}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td align="left">Retained earnings at December 31, {{getDate() | date: 'y'}}</td>
    <td>{{oldRetainedEarnings() + netIncome() - netDividends() | currency}}</td>
  </tr>
  </tbody>
</table>
