<div>
  <h1>Journal</h1>
</div>

<button type="button" mdbBtn color="default" (click)="showJournalizeModal()">
  + Add New Entry +
</button>
<!--<img *ngIf="users.length === 0" class="centered" src="./src/assets/table_loading.svg">-->
<!-- TODO Change to a mat-table -->
<table class="table table-hover table-striped table-bordered table-responsive-md table-sm">
  <thead>
  <tr>
    <th>Journal ID
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th>P.R.
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th>Debit
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th>Credit
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th>Creator
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
    <th>Type
      <i class="fa fa-sort float-right" aria-hidden="true"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let journal of filterBy()">
    <td>{{journal.journal_entry_id}}</td>
    <td>{{journal.posting_reference}}</td>
    <!-- Debits -->
    <td>
      <div *ngFor="let transaction of journal.transactions">

      </div>
    </td>
    <!-- Credits -->
    <td>
      <div *ngFor="let transaction of journal.transactions">

      </div>
    </td>
    <td>{{journal.user_id}}</td>
    <td>{{journal.type}}</td>
  </tr>
  </tbody>
</table>

<!-- Journalize Modal -->
<div mdbModal #journalizeModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Journalize" aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="journalizeModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="editUserModal">Journalize</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="journalizeForm" class="text-center border border-light p-5 lg-form"
              (ngSubmit)="submitJournalization()">
          <!-- Date -->
          <!--- TODO Figure out why this keeps causing a crash -->
          <!--<label for="journalizeDate">Date</label>-->
          <!--<input matInput [matDatepicker]="myDatepicker" formControlName="date">-->
          <!--<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>-->
          <!--<mat-datepicker #myDatepicker></mat-datepicker>-->
          <!-- Description -->
          <div class="form-group">
            <label for="journalizeDescription">Description</label>
            <input type="text" formControlName="description" id="journalizeDescription" class="form-control"
                   placeholder="Description">
          </div>
          <!-- Journal Type -->
          <div class="form-group">
            <label for="journalizeType">Journal Type</label>
            <select class="form-control" formControlName="journal_type" id="journalizeType">
              <option *ngFor="let journal_type of journalTypes" [value]="journal_type">{{journal_type}}</option>
            </select>
          </div>
          <!-- Add/Remove Debit Row -->
          <button *ngIf="debitLines.length > 1" type="button" mdbBtn color="danger" (click)="removeDebitRow()">
            - Remove Debit -
          </button>
          <button type="button" mdbBtn color="default" (click)="addDebitRow()">
            + Add Debit +
          </button>
          <!-- Debits -->
          <!-- TODO Change to a mat-table -->
          <h5>Debits</h5>
          <table>
            <thead>
            <tr>
              <th>
                Account
              </th>
              <th>
                Amount
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let debitLine of debitLines">
              <!-- Debit Account -->
              <td>
                <div class="form-group">
                  <select #account class="form-control" formControlName="debit_account" id="journalizeDebitAccount"
                          (change)="setTransactionAccount(debitLine, account.value)">
                    <option *ngFor="let account of accounts" [value]="account.account_id">{{account.account_title}}
                    </option>
                  </select>
                </div>
              </td>
              <!-- Debit Amount -->
              <td>
                <div class="form-group">
                  <input #amount type="text" formControlName="debit_amount" id="journalizeDebitAmount"
                         class="form-control"
                         placeholder="Debit Amount" (keyup)="setTransactionAmount(debitLine, amount.value)">
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <!-- Add/Remove Credit Row -->
          <button *ngIf="creditLines.length > 1" type="button" mdbBtn color="danger" (click)="removeCreditRow()">
            - Remove Credit -
          </button>
          <button type="button" mdbBtn color="default" (click)="addCreditRow()">
            + Add Credit +
          </button>
          <!-- Credits --->
          <!-- TODO Change to a mat-table -->
          <h5>Credits</h5>
          <table>
            <thead>
            <tr>
              <th>
                Account
              </th>
              <th>
                Amount
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let creditLine of creditLines">
              <!-- Credit Account -->
              <td>
                <div class="form-group">
                  <select #account class="form-control" formControlName="credit_account" id="journalizeCreditAccount"
                          (change)="setTransactionAccount(creditLine, account.value)">
                    <option *ngFor="let account of accounts" [value]="account.account_id">{{account.account_title}}
                    </option>
                  </select>
                </div>
              </td>
              <!-- Credit Amount -->
              <td>
                <div class="form-group">
                  <input #amount type="text" formControlName="debit_amount" id="journalizeCreditAmount" class="form-control"
                         placeholder="Credit Amount" (keyup)="setTransactionAmount(creditLine, amount.value)">
                </div>
              </td>
            </tr>
            </tbody>
          </table>

          <div *ngIf="journalizeError" class="alert alert-danger">{{journalizeError}}</div>
        </form>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                  (click)="journalizeModal.hide()" mdbWavesEffect>Close
          </button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                  (click)="submitJournalization()">Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
