<!-- Default form login -->
<div class="container">
  <form [formGroup]="loginForm" class="text-center border border-light p-5 lg-form" (ngSubmit)="onSubmit()">
    <img class="i1" src="./src/assets/logo.png" alt="logo"/>
    <h1 class="lg-h1">LOGIN</h1>

    <!-- Email -->
    <div class="form-group">
      <input type="text" formControlName="username" id="defaultLoginFormEmail" class="form-control"
             placeholder="Username">
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <!-- Password -->
    <div class="form-group">
      <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control"
             placeholder="Password">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" mdbBtn color="indigo" class="waves-light lg-btn" mdbWavesEffect>LOGIN</button>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"
              (click)="clearError()">
        <span aria-hidden="true">&times;</span>
      </button></div>
    <div class="d-flex justify-content-around">
      <div>
        <!-- Forgot password -->
        <a (click)="forgotPasswordShow()">Forgot password?</a>
      </div>
    </div>
    <!-- Register -->
    <p>
      <a (click)="registerShow()">Create Account</a>
    </p>
  </form>
</div>

<div mdbModal #forgotPasswordModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Forgot Password" aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="forgotPasswordModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Forgot Password</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="forgotPasswordForm" class="text-center border border-light p-5"
              (ngSubmit)="forgotPasswordSubmit()">
          <!-- Username -->
          <div class="form-group">
            <input type="text" formControlName="username" id="forgotPasswordFormUsername" class="form-control fc"
                   placeholder="Username" style="margin-left: 5px">
            <div *ngIf="submitted && forgotPasswordForm.controls.username.errors" class="invalid-feedback">
              <div *ngIf="forgotPasswordForm.controls.username.errors.required">Username is required</div>
            </div>
            <div *ngIf="forgotPasswordError" class="alert alert-danger">{{forgotPasswordError}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                      (click)="clearForgotPasswordError()">
                <span aria-hidden="true">&times;</span>
              </button></div>
            <div *ngIf="forgotPasswordMessage" class="alert alert-success alert-dismissible fade show" role="alert">
              {{forgotPasswordMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                      (click)="clearForgotPasswordMessage()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                  (click)="forgotPasswordModal.hide()" mdbWavesEffect>Close
          </button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                  (click)="forgotPasswordSubmit()">Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #registerModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Register" aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="registerModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="registerModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" class="border border-light p-5 text-center"
              (ngSubmit)="submitRegister()" autocomplete="off">
          <!-- Username -->
          <div class="form-group">
            <input type="text" formControlName="username" id="Password" class="form-control fc"
                   placeholder="Username" style="margin-left: 5px">
            <div *ngIf="submitted && registerForm.controls.username.errors" class="invalid-feedback">
              <div *ngIf="registerForm.controls.username.errors.required">Username is required</div>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group">
            <input type="password" formControlName="password" id="password2" class="form-control fc"
                   placeholder="Password" style="margin-left: 5px">
            <div *ngIf="submitted && registerForm.controls.password.errors" class="invalid-feedback">
              <div *ngIf="registerForm.controls.password.errors.required">Password is required</div>
            </div>
          </div>
          <!-- First Name -->
          <div class="form-group">
            <input type="text" formControlName="first_name" id="passwor3" class="form-control fc"
                   placeholder="First Name" style="margin-left: 5px">
            <div *ngIf="submitted && registerForm.controls.first_name.errors" class="invalid-feedback">
              <div *ngIf="registerForm.controls.first_name.errors.required">First Name is required</div>
            </div>
          </div>
          <!-- Last Name -->
          <div class="form-group">
            <input type="text" formControlName="last_name" id="password4" class="form-control fc"
                   placeholder="Last Name" style="margin-left: 5px">
            <div *ngIf="submitted && registerForm.controls.last_name.errors" class="invalid-feedback">
              <div *ngIf="registerForm.controls.last_name.errors.required">Last Name is required</div>
            </div>
          </div>
          <!-- Email -->
          <div class="form-group">
            <input type="email" formControlName="email" id="password5" class="form-control fc"
                   placeholder="Email" style="margin-left: 5px">
            <div *ngIf="submitted && registerForm.controls.email.errors" class="invalid-feedback">
              <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
            </div>
            <div *ngIf="registerError" class="alert alert-danger">{{registerError}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                      (click)="clearRegisterError()">
                <span aria-hidden="true">&times;</span>
              </button></div>
            <div *ngIf="registerMessage" class="alert alert-success" role="alert">{{registerMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                      (click)="clearRegisterMessage()">
                <span aria-hidden="true">&times;</span>
              </button></div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                  (click)="registerModal.hide()" mdbWavesEffect>Close
          </button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                  (click)="submitRegister()">Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
