<!-- Default form login -->
<div class="container">
<form [formGroup]="loginForm" class="text-center border border-light p-5 lg-form" (ngSubmit)="onSubmit()">
  <img class="i1" src="./src/assets/logo.png" alt="logo"/>
  <h1 class="lg-h1">LOGIN</h1>

  <!-- Email -->
  <div class="form-group">
  <input type="email" formControlName="username" id="defaultLoginFormEmail" class="form-control" placeholder="E-mail">
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <!-- Password -->
    <div class="form-group">
  <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control" placeholder="Password">
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">Password is required</div>
  </div>
  </div>
  <div class="form-group">
  <button mdbBtn color="primary" class="waves-light lg-btn" mdbWavesEffect>LOGIN</button>
  </div>
  <div class="d-flex justify-content-around">
    <div>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </div>
  </div>
  <!-- Register -->
  <p>
    <a href="">Create Account</a>
  </p>
</form>
</div>
<!-- Default form login -->
<!--<div class="container">-->
<!--<form [formGroup]="loginForm" class="lg-form" (ngSubmit)="onSubmit()">-->
    <!--<img class="i1" src="./src/assets/logo.png" alt="logo"/>-->
    <!--<h1 class="lg-h1">LOGIN</h1>-->
    <!--<div class="form-group">-->
        <!--<input type="text" placeholder="Username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />-->
        <!--<div *ngIf="submitted && f.username.errors" class="invalid-feedback">-->
            <!--<div *ngIf="f.username.errors.required">Username is required</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />-->
        <!--<div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
            <!--<div *ngIf="f.password.errors.required">Password is required</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<button [disabled]="loading" mdbBtn color="primary" class="waves-light" mdbWavesEffect>LOGIN</button>-->
        <!--<img class="loading-gif" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
    <!--</div>-->
    <!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>-->
    <!--<div class="form-group">-->
        <!--<div>Forgot password?</div>-->
        <!--<div>Create account</div>-->
    <!--</div>-->
<!--</form>-->
<!--</div>-->
