.lg-form {
    max-width: 500px;
    top: 50%;
    margin: auto;
    text-align: center!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    /*overflow: hidden;*/
    /*justify-content: space-between;*/
    /*margin-top: 100px;*/
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}
.form-control {
    display: unset;
    width: 200px;
    height:40px;
}
.lg-h1 {
    margin-bottom: 20px;
 }

.btn {
    margin-top: 20px;
    width: 200px;
    height:40px;
}
.i1 {
    margin-bottom: 20px;
    width: 150px;
    height:150px;
}