/*
******************************************************************* My Additions *******************************************************************
*/
.form-control {
  margin-top: 5px;
  margin-bottom: 10px;
}
.main-border {
  display: flex;
}
.form-signin {
    width: 100%;
    text-align: center!important;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    justify-content: space-between;
    padding: 30px 50px 0px 50px;
}

.gradient {

  background: linear-gradient(to top, #33ccff 0%, #ffcc99 100%);
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}
html, body {

    height: 100%;
}
h2 {
  margin-bottom: 20px;
}
.i1 {
  margin-bottom: 20px;
  width: 150px;
  height:150px;

}
.sb {
  margin-top: 30px;
  margin-bottom: 30px;
}

#errorDiv {
  display:none;
  background-color: #ff7272;
  color: white;
  padding: 0.5em;
}

/*
//******************************************************************* My Additions *******************************************************************
