<img *ngIf="accounts.length === 0; else showTable" class="centered" src="./assets/table_loading.svg">
<ng-template #showTable>
  <!-- TODO Change to a mat-table -->
  <table class="table table-hover table-striped table-bordered table-responsive-md">
    <thead>
    <tr>
      <th colspan="3">
        <h4><strong>PostIt Inc.</strong></h4>
        <h4><strong>Trial Balance</strong></h4>
        <h4><strong>As of {{getDate() | date: 'mediumDate'}}</strong></h4></th>
    </tr>
    <tr>
      <th class="th-sm">Account Title</th>
      <th class="th-sm">Debit</th>
      <th class="th-sm">Credit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of accounts">
      <td align="left" class="clickable" (click)="openAccount(account)">{{account.account_title}}</td>
      <td align="right">{{account.normal_side == 'debit' ? (account.balance | currency) : ''}}</td>
      <td align="right">{{account.normal_side == 'credit' ? ((account.balance * -1) | currency) : ''}}</td>
    </tr>
    <tr>
      <td><strong>Total</strong></td>
      <td><strong><u>{{getDebitSum() | currency}}</u></strong></td>
      <td><strong><u>{{(getCreditSum() * -1) | currency}}</u></strong></td>
    </tr>
    </tbody>
  </table>
</ng-template>
