<img *ngIf="accounts.length === 0; else showTable" class="centered" src="./assets/table_loading.svg">
<ng-template #showTable>
  <div class="top">
    <h1>Welcome {{userFirstName}}!</h1>
  </div>
  <div class="graph" *ngIf="ran">
    <div style="display: block">
      <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
  <div class="animated fadeIn slow">
    <table mdbTable>
      <tbody>
      <tr>
        <td class="card-css">
          <mdb-card dark="true">
            <div class="view overlay waves-light" mdbWavesEffect>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <mdb-card-body class="elegant-color white-text">
              <mdb-card-title>
                <h4>Current Ratio</h4>
              </mdb-card-title>

              <hr class="hr-light">
              <mdb-card-text class="white-text">
                <h5>{{currentRatio}}%</h5>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </td>
        <td class="card-css">
          <mdb-card dark="true">
            <div class="view overlay waves-light" mdbWavesEffect>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <mdb-card-body class="elegant-color white-text">
              <mdb-card-title>
                <h4>Return On Assets</h4>
              </mdb-card-title>

              <hr class="hr-light">
              <mdb-card-text class="white-text">
                <h5>{{returnOnAssets}}%</h5>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </td>
        <td class="card-css">
          <mdb-card dark="true">
            <div class="view overlay waves-light" mdbWavesEffect>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <mdb-card-body class="elegant-color white-text">
              <mdb-card-title>
                <h4>Asset Turnover</h4>
              </mdb-card-title>

              <hr class="hr-light">
              <mdb-card-text class="white-text">
                <h5>{{totalAssetTurnOver}}%</h5>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </td>
      </tr>
      <tr>
        <td class="card-css">
          <mdb-card dark="true">
            <div class="view overlay waves-light" mdbWavesEffect>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <mdb-card-body class="elegant-color white-text">
              <mdb-card-title>
                <h4>Return On Equity</h4>
              </mdb-card-title>

              <hr class="hr-light">
              <mdb-card-text class="white-text">
                <h5>{{returnOnEquity}}%</h5>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </td>
        <td class="card-css">
          <mdb-card dark="true">
            <div class="view overlay waves-light" mdbWavesEffect>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <mdb-card-body class="elegant-color white-text">
              <mdb-card-title>
                <h4>Debt Ratio</h4>
              </mdb-card-title>

              <hr class="hr-light">
              <mdb-card-text class="white-text">
                <h5>{{debtRatio}}%</h5>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </td>
        <td class="card-css">
          <mdb-card dark="true">
            <div class="view overlay waves-light" mdbWavesEffect>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <mdb-card-body class="elegant-color white-text">
              <mdb-card-title>
                <h4>Quick Ratio</h4>
              </mdb-card-title>

              <hr class="hr-light">
              <mdb-card-text class="white-text">
                <h5>{{quickRatio}}%</h5>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

