.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
.card {
  float:left;
  display: block;
  padding: 20px 60px 5px 60px;
  //align-items: center;
  //width: 300px;
  //height: 150px;
}
.card-img-top {
  width: 100px;
  height: 100px;
}
