<img *ngIf="accounts.length === 0; else showTable" class="centered" src="./assets/table_loading.svg">
<ng-template #showTable>
  <div class="top">
    <h1>Welcome {{userFirstName}}!</h1>
  </div>
  <div class="animated fadeIn slow">
    <table mdbTable>
      <tbody>
      <td class="card-css">
        <mdb-card dark="true">
          <div class="view overlay waves-light" mdbWavesEffect>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <mdb-card-body class="elegant-color white-text">
            <mdb-card-title>
              <h4>Current Ratio</h4>
            </mdb-card-title>

            <hr class="hr-light">
            <mdb-card-text class="white-text">
              <h5>5%</h5>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </td>
      <td class="card-css">
        <mdb-card dark="true">
          <div class="view overlay waves-light" mdbWavesEffect>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <mdb-card-body class="elegant-color white-text">
            <mdb-card-title>
              <h4>Return On Assets</h4>
            </mdb-card-title>

            <hr class="hr-light">
            <mdb-card-text class="white-text">
              <h5>3%</h5>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </td>
      </tbody>
    </table>
  </div>
</ng-template>

