.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.card {
  width: 300px;
  height: 300px;
  //float:left;
  //display: block;
  display: inline-block;
  padding: 20px 60px 5px 60px;
  margin: 10px;
}

.card-img-top {
  width: 100px;
  height: 100px;
}
