<img *ngIf="accounts.length === 0; else showTable" class="centered" src="./assets/table_loading.svg">
<ng-template #showTable>
<h1 class="text-center">Welcome {{userFirstName}}!</h1>
  <!-- Card -->
  <div class="card">
    <!-- Card image -->
    <img class="card-img-top" src="./assets/charts/cash.png" alt="Card image cap">
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title"><a>{{accounts[0].account_title}}</a></h4>
      <!-- Text -->
      <p class="card-text">{{accounts[0].balance}}</p>
    </div>
  </div>
  <!-- Card -->
</ng-template>

