<div class="col-md-12">
  <div class="md-form">
    <input type="search" [(ngModel)]="filterValue" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
    <label for="search">Search Accounts</label>
  </div>
</div>

<table class="table table-hover table-striped table-bordered table-responsive-md">
  <thead>
  <tr>
    <th class="th-sm">Account ID
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('account_id')"></i>
    </th>
    <th class="th-sm">Account Title
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('account_title')"></i>
    </th>
    <th class="th-sm">Balance
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('balance')"></i>
    </th>
    <th class="th-sm">Normal Side
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('normal_side')"></i>
    </th>
    <th class="th-sm">Description
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('description')"></i>
    </th>
    <th class="th-sm">Date Created
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('date_created')"></i>
    </th>
    <th class="th-sm">Created By (User ID)
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('created_by')"></i>
    </th>
    <th class="th-sm">Last Edited
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('last_edited_date')"></i>
    </th>
    <th class="th-sm">Last Edited By
      <mdb-icon icon="sort" (click)="sortBy('last_edited_by')"></mdb-icon>
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('user_id')"></i>
    </th>
    <th class="th-sm">Is Active
      <mdb-icon icon="sort" (click)="sortBy('is_active')"></mdb-icon>
      <i class="fa fa-sort float-right clickable" aria-hidden="true" (click)="sortBy('user_id')"></i>
    </th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Account ID</th>
    <th>Account Title</th>
    <th>Balance</th>
    <th>Normal Side</th>
    <th>Description</th>
    <th>Date Created</th>
    <th>Created By (User ID)</th>
    <th>Last Edited</th>
    <th>Last Edited By</th>
    <th>Is Active</th>
  </tr>
  </tfoot>
  <tbody>
  <tr class="clickable" *ngFor="let account of accounts" (click)="editAccount(account)">
    <td>{{account.account_id}}</td>
    <td>{{account.account_title}}</td>
    <td>${{account.balance.toFixed(2)}}</td>
    <td>{{account.normal_side}}</td>
    <td>{{account.description}}</td>
    <td>{{account.date_created}}</td>
    <td>{{account.created_by}}</td>
    <td>{{account.last_edited_date}}</td>
    <td>{{account.last_edited_by}}</td>
    <td>{{account.is_active}}</td>
  </tr>
  </tbody>
</table>
